.table{
    margin-top:20px;
    overflow:scroll;
    color:#6a5d5d;
    height:400px;

}
.table tr{
    display:flex;
    justify-content: space-between;
}
.table td{
    padding:0.5rem;
}
.table tr:nth-of-type(odd){
    background-color: #bbe1fa;
    color:#000000;
    font-weight:bold;

}

.table tr:nth-of-type(even){
    background-color: #0f4c75;
    color: #ffffff;
    font-weight:bold;

}